.pagination {
  margin: 0;
}
.pointer {
  cursor: pointer;
}
.custom-form {
  /*border: 1px #f1f1f1 solid;*/
  padding: 2px 5px;
  margin-bottom: 5px;
}
.custom-form label {
  /*padding-left: 10px;*/
}
.custom-form .form-control{
 /* border: none;*/
}
.custom-form-save{
  margin: 10px;
}
.error-div {
  padding-left: 10px;
}
.error-div span {
  display: block;
}
.switch input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.margin-10-l {
  margin-left: 10px;
}
.margin-10-r {
  margin-right: 10px;
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px lightblue;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px lightblue;
}

.switch.red :checked + i {
  box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
}
.text-bold {
  font-weight: bold;
}
@media (min-width: 767px) {
  .main-container {
    padding-top: 90px;
  }
}

ul.vi-nav{
  margin: 0 0 0px 0;
}

.vi-nav {
  background: #62a8d1;
}
.vi-nav a {
  color: #ffffff;
}

.vi-nav > li > a:hover,
.vi-nav > li > a:focus,
.vi-nav > li > a {
  background-color: #62a8d1;
}

.vi-nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #62a8d1;
  border-color: #337ab7;
}
.nav-list {
  margin-top: 10px;
}
.main-content {
  margin-top: 6px;
}