<div class="input-group">
  <input
    type="text"
    class="form-control"
    datepicker-popup
    ng-model="formCtrl.viewModel[elem.fieldName]"
    ng-change="formCtrl.validateField(elem.fieldName)"
    is-open="formCtrl.date[elem.fieldName].opened"
    min-date="minDate"
    max-date="maxDate"
    close-text="Close" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="formCtrl.date[elem.fieldName].open($event)">
      <i class="fa fa-calendar"></i>
    </button>
  </span>
</div>