<hr>
<div class="custom-form-save clearfix">
  <button type="button" ng-click="formCtrl.cancel()" class="btn btn-danger btn-lg pull-right margin-10-l">
    <i class="fa fa-times"></i> Cancel
  </button>
  <button ng-click="formCtrl.save()" class="btn btn-success btn-lg pull-right">
    <i class="fa fa-save"></i> Save
  </button>
</div>