<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-12" >
        <div class="page-header">Appointments in Progress</div>
      </div>
      <div class="col-sm-12" ng-if="homeCtrl.inProgress.length === 0">
        <div class="alert alert-info">No data Found</div>
      </div>

      <div class="col-sm-12" ng-if="homeCtrl.inProgress.length > 0">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Host</th>
            <th>Guest</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in homeCtrl.inProgress">
            <td ng-bind="::$index+1"></td>
            <td ng-bind="::item.host.last_name +' '+item.host.first_name"></td>
            <td ng-bind="::item.visitor.last_name+' '+item.visitor.first_name"></td>
            <td ng-bind="::item.start_date"></td>
            <td ng-bind="::item.end_date"></td>
            <td ng-bind="::item.start_time"></td>
            <td ng-bind="::item.end_time"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" >
        <div class="page-header">Upcoming Appointments</div>
      </div>
      <div class="col-sm-12" ng-if="homeCtrl.upcoming.length === 0">
        <div class="alert alert-info">No data Found</div>
      </div>

      <div class="col-sm-12" ng-if="homeCtrl.upcoming.length > 0">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Host</th>
            <th>Guest</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in homeCtrl.upcoming">
            <td ng-bind="::$index+1"></td>
            <td ng-bind="::item.host.last_name +' '+item.host.first_name"></td>
            <td ng-bind="::item.visitor.last_name+' '+item.visitor.first_name"></td>
            <td ng-bind="::item.start_date"></td>
            <td ng-bind="::item.end_date"></td>
            <td ng-bind="::item.start_time"></td>
            <td ng-bind="::item.end_time"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" >
        <div class="page-header">Appointments Awaiting Approval</div>
      </div>
      <div class="col-sm-12" ng-if="homeCtrl.awaitingApproval.length === 0">
        <div class="alert alert-info">No data Found</div>
      </div>

      <div class="col-sm-12" ng-if="homeCtrl.awaitingApproval.length > 0">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Host</th>
            <th>Guest</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in homeCtrl.awaitingApproval">
            <td ng-bind="::$index+1"></td>
            <td ng-bind="::item.host.last_name +' '+item.host.first_name"></td>
            <td ng-bind="::item.visitor.last_name+' '+item.visitor.first_name"></td>
            <td ng-bind="::item.start_date"></td>
            <td ng-bind="::item.end_date"></td>
            <td ng-bind="::item.start_time"></td>
            <td ng-bind="::item.end_time"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div ng-include="'app/home/partials/calendar.html'"></div>
  </div>
</div>